<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover" >
		<meta charset="UTF-8">
		<title>宝贝列表</title>
		<link href="https://res.wx.qq.com/open/libs/weui/2.3.0/weui.min.css" rel="stylesheet">
		<link href="/css/weuix.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/jquery/2.0.0/jquery-2.0.0.min.js" ></script>
		<script src="http://res.wx.qq.com/open/js/jweixin-1.6.0.js" ></script>
		<script src="https://res.wx.qq.com/open/libs/weuijs/1.2.1/weui.min.js"></script>
		<script src="/js/util.js" ></script>
		<script src="/js/components.js"></script>
		<script src="/js/merchant.js"></script>
		<script src="/js/goods.js"></script>
	</head>
	<body ontouchstart>
		<div class="weui-tab">
			<div id="container" class="weui-tab__panel">
			
			</div>
			<div class="weui-tabbar">
				<div class="weui-tabbar__item weui-bar__item_on">
					<div class="weui-tabbar__label" id="btnGoodsShelves">货架</div>
				</div>
				<div class="weui-tabbar__item"> 
					<div class="weui-tabbar__label" id="btnGoodsDetail">上货</div>
				</div>
			</div>		
		</div>	

	</body>

	<script>
		var _goods,_goodses;

		$(document).ready(function(){
			getWxConfig();
			pageInit();
			$("#btnGoodsShelves").click(function(){
				$("#btnGoodsShelves").parent().addClass("weui-bar__item_on").siblings().removeClass("weui-bar__item_on");	
				$("#container").html("");	
				var searchBar = superMarket.components.searchBar({
					search:function(content){
						_goodses.content=content;
						_goodses.pageIndex = 1;
						_goodses.pageSize = 50;
						showGoodsList();	
					}
				});
				$("#container").append(searchBar);
				var cells = superMarket.components.weuiCells({
					id:"goodsShelves"
				});
				$("#container").append(cells);
				$("#goodsShelves").on("click","div.weui-cell",function(){
					var data = $(this).data("data");
					$("btnGoodsDetail").addClass("weui-bar__item_on").siblings().removeClass("weui-bar__item_on");
					_goods = data;	
					showGoodsDetail(data);	
				});
				$("#container").scroll(function(e){
					var scrollTop =  this.scrollTop;
					var height =  this.clientHeight;
					var scrollHeight =  this.scrollHeight;
					if(scrollTop + height == scrollHeight){
						if(_goodses.pageIndex * _goodses.pageSize < _goodses.totalCount) {
							_goodses.pageIndex = _goodses.pageIndex + 1;
							showGoodsList();	
						}
					}
				});	
				_goodses.pageIndex = 1;	
				showGoodsList();	
			});
			$("#btnGoodsDetail").click(function(){
				var goodsDetail = new goods();
				showGoodsDetail(goodsDetail);	
			});	
		});

		function pageInit(){
			_goods = new goods();
			_goodses = new goodses();
		}

		function getWxConfig(){
			superMarket.util.initSession();	
			superMarket.util.queryConfig(function(data){
				wx.config({
					debug:true,
					appId:data.appId,
					timestamp:data.timestamp,
					nonceStr:data.nonceStr,
					signature:data.signature,
					jsApiList:["scanQRCode"]	
				});
			});
		}

		function showGoodsList(){
			_goodses.selectOnePage(function(){
				var _self = this;
				var cellsOption = [];
				var length = _self.values.length;
				var fragment = document.createDocumentFragment();	
				for(var i =0;i<length;i++){
					fragment.appendChild(superMarket.components.weuiCell({ 
						body:{ type:"p",text:_self.values[i].goodsName },
						data:_self.values[i]	
					}));
				}
				$("#goodsShelves").append(fragment);	
				$("#searchInput").val(_self.content);
				$("#btnSearch").click(function(){
					pageIndex = 1;
					pageSize = 50;	
					showGoodsList();
				});
			});	
		}

	function showGoodsDetail(detail){
		var goodsForm = superMarket.components.weuiForm({
			textArea:{
				title:"新建商品",
			},
			controlArea:{
				cells:[
					{
						head:{ type:"label",className:"weui-label",text:"商品条码" },
						body:{ type:"text",
								id:"goodsBarCode",
								className:"weui-input",
								value:detail.goodsBarCode,
								click:function(){
									wx.scanQRCode({
										needResult:1,
										scanType:["barCode"],
										success:function(res){
											var result = res.resultStr;
											result = result.split(',')[1];	
											$("#goodsBarCode").val(result);
											_goods.goodsBarCode = result;	
										}	
									});
								}
						}	
					},
					{
						head:{ type:"label",className:"weui-label",text:"商品名称" },
						body:{ type:"text",
								id:"goodsName",
								className:"weui-input", 
								value:detail.goodsName,
								change:function(){
									_goods.goodsName = $(this).val();
								}
						}	
					},
					{
						head:{ type:"label",className:"weui-label",text:"规格型号" },
						body:{ type:"text",
								id:"goodsSpecification",
								className:"weui-input",
								value:detail.goodsSpecification,
								change:function(){
									_goods.goodsSpecification = $(this).val();
								}
						}
					},
					{
						head:{ type:"label",className:"weui-label",text:"描述" },
						body:{ type:"text",
								id:"goodsDescription",
								className:"weui-input",
								value:detail.goodsDescription,
								change:function(){
									_goods.goodsDescription = $(this).val();
								}
						}	
					},
					{
						head:{ type:"label",className:"weui-label",text:"商标"  },
						body:{ type:"text",
								id:"goodsTradeMark",
								className:"weui-input",
								value:detail.goodsTradeMark,
								change:function(){
									_goods.goodsTradeMark = $(this).val();
								}
						}	
					},
					{
						head:{ type:"label",className:"weui-label",text:"厂家"  },
						body:{ type:"text",
								id:"company",	
								className:"weui-input",
								value:detail.company,
								change:function(){
									_goods.company = $(this).val();
								}
						}	
					},
					{
						head:{ type:"label",className:"weui-label",text:"图片" },
						body:{ type:"text",
								id:"goodsPicture",
								className:"weui-input",
								value:detail.goodsPicture,
								change:function(){
									_goods.goodsPicture = $(this).val();
								}
						}	
					}	
				]
			},
			tipsArea:{
				tips:""
			},	
			oprArea:{
				btns:[
					{ type:"button",
						text:"提交",
						className:"weui-btn weui-btn_primary",
						click:function(){
							if(_goods.goodsBarCode == "") {
								superMarket.util.showErrorMessage("商品条码不能为空");
								return;	
							}
							if(_goods.goodsName == ""){
								superMarket.util.showErrorMessage("商品名称不能为空");
								return;	
							}
							if(_goods.goodsSpecification == ""){
								superMarket.util.showErrorMessage("商品规格不能为空");
								return;	
							}
							if(_goods.goodsTradeMark == ""){
								superMarket.util.showErrorMessage("商品商标不能为空");
								return;	
							}
							if(_goods.company == ""){
								superMarket.util.showErrorMessage("厂家不能为空");
								return;
							}
							if(_goods.goodsId == ""){
								_goods.add(function(data){
									$("#goodsBarCode,#goodsName,#goodsSpecification,#goodsDescription,#goodsTradeMark,#company").val("");
									superMarket.showErrorMessage("保存成功");	
								},function(xmlhttp){
									superMarket.util.showErrorMessage(xmlhttp.responseText);
								});	
							}else{
								_goods.update(function(data){
									superMarket.util.showErrorMessage("修改成功");
								},function(xmlhttp){
									superMarket.util.showErrorMessage(xmlhttp.responseText);
								})
							}	
						}
					}
				]
			}	
		});
		$("#container").html("");
		$("#container").append(goodsForm);
		$("#btnGoodsDetail").parent().addClass("weui-bar__item_on").siblings().removeClass("weui-bar__item_on");	
	}	
	</script>		
</html>		
