<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" >
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
		<title>河南师范大学</title>
		<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/2.3.0/weui.min.css" />
		<link rel="stylesheet" href="/css/weuix.css" />
	</head>
	<body ontouchstart>
		<div class="page js_show">
			<div class="page__hd">
				<h1 class="page__title">河南师范大学</h1>
				<p class="page__desc">
					<span>地址:河南省新乡市建设路东段46号</span><br>
					<span>校训:厚德博学 止于至善</span>
				</p>
			</div>
			<div class="page__bd">
				<article class="weui-article">
					<section>
						<p>
							河南师范大学北依巍巍太行，南濒滔滔黄河，位于全国文明城市、郑洛新国家自主创新示范区新乡市，坐落在广袤的牧野大地、美丽的卫水之滨。
						</p>
						<p>
							<iframe frameborder="0" src="https://v.qq.com/txp/iframe/player.html?vid=e0850srz7fc" allowFullScreen="true"></iframe>
						</p>
						<p>
						党委书记 赵国祥，男，1961年11月生，河南省上蔡人，中共党员。河南师范大学教授、博士生导师、省级重点学科（心理学）带头人、心理学研究生学位点牵头导师。享受国务院政府特殊津贴专家。1983年毕业于华中师大教育系，获教育学士学位,1987年毕业于河南大学基础心理学专业，获教育学硕士学位,1999年毕业于华东师大基础心理学专业，获理学博士学位,1999年8月至2001年9月，在中科院心理所博士后流动站做研究工作,曾任河南大学常务副校长（正校级）,2016年06月，河南大学党委副书记（正校级）,2017年09月，河南师范大学党委书记.
						</p>
						<p>
						校长 常俊标，男，1965年10月生，河南省滑县人，博士，研究员，教授、博士生导师。河南省化学会副理事长，国家自然科学基金委评审专家，中国科学技术大学、天津大学兼职教授和博士研究生导师。河南省精细化工重点实验室主任, 河南省分析测试中心主任。1986年毕业于河南大学化学系，获理学学士学位，1989年获中国科学技术大学理学硕士学位，1989年到河南省科学院化学研究所工作，先后任研究室主任和副所长；助理研究员和副研究员，1995年10月毕业于中国医学科学院药物研究所，获理学博士学位 ，1996年～1997年在郑州大学化学系进行博士后研究工作，1997年～1998年在美国Georgia大学药学院从事博士后研究工作，1999年10月开始任河南省科学院化学研究所所长，研究员，博士研究生导师，2000年～2002年在美国Novartis基金研究所(G. Stork基金)做访问科学家，2002年10月任河南省科学院质量检验与分析测试研究中心主任，研究员，2003年11月起任新乡医学院副院长，教授，2006年5月起任郑州大学副校长。分管国际交流与合作处、学生处、国资处、就业指导中心、南校区综合管理中心、国际教育学院、佛罗里达国际学院、出国留学中心、附属中学，2015年5月起任河南师范大学校长，2015年7月，免去常俊标的郑州大学副校长职务，2019年4月，河南省科协副主席。
						</p>
					</section>
					<section>
						<h3>化学</h3>
						<p>
						拥有化学一级学科博士学位授权点和化学博士后科研流动站，5个二级学科博士学位授权点，2个一级学科硕士学位授权点，10个二级学科硕士学位授权点，3个专业硕士学位授权点。化学一级学科先后入选河南省国家重点学科培育学科和河南省首期优势学科A类学科，学院为中国化学会理事单位。
						</p>
						<p>
						国内上市公司:<a href="/views/company/hongbaoli.html">红宝丽集团股份有限公司</a><br/>
						<a href="/views/company/huategas688268.html">广东华特气体股份有限公司</a>
						</p>
					</section>
				</article>	
			</div>
		</div>	
	</body>
</html>		
