<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" >
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
		<title>新乡医学院</title>
		<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/2.3.0/weui.min.css" />
		<link rel="stylesheet" href="/css/weuix.css" />
	</head>
	<body ontouchstart>
		<div class="container">
			<div class="page js_show">
				<div class="page__hd">
					<h1 class="page_title">新乡医学院</h1>
					<p class="page_desc">
						地址:河南省新乡市红旗区金穗大道601号
					</p>
				</div>			
			</div>
		</div>		
	</body>		
</html>		
