<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
		<title>广东华特气体有限公司</title>
		<link rel="stylesheet" href="/css/weuix.css">
		<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/2.3.0/weui.min.css">
	</head>
	<body ontouchstart>
		<div class="page js_show">
			<div class="page__hd">
				<h1 class="page__title">广东华特气体股份有限公司</h1>
			</div>
			<div class="page__bd">
				<article class="weui-article">
					<section>
						<h3>公司概况</h3>
						<ul>
							<li>英文名称:Guangdong Huate Gas Co.Ltd <li>
							<li>公司简介:广东华特气体股份有限公司主营业务为特种气体、普通工业气体以及相关的气体辅助设备与工程的生产和销售。主要产品或服务有特种气体、普通工业气体、气体设备与工程。公司先后承担了省教育厅产学研结合项目、国家科技重大专项课题的研究工作，获得“高新技术企业”、“广东省特种气体工程技术研究中心”等荣誉。</li>
							<li>
								产品名称：普通工业气体、特种工业气体、气体设备及工程
							</li>
							<li>
								控股股东：广东华特投资管理有限公司（持有广东华特气体股份有限公司股份比例：23.03%）
							</li>	
							<li>
								实际控制人:石平湘，石思慧（持有广东华特气体股份有限公司股份比例：32.22%，4.5%）
							</li>
							<li>
								最终控制人:石平湘、石思慧 (持有广东华特气体股份有限公司股份比例：32.22、4.50%）
							<li>
							<li>
								董事长:石平湘
							</li>
							<li>
								董秘:梦婷
							</li>
							<li>
								总经理:傅铸红
							</li>
							<li>
								注册资金:1.2亿
							</li>		
						</ul>
					</section>		
				</article>		
			</div>		
		</div>			
	</body>
</html>		
